body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background: #272727;
  padding: 1em;
}

footer {
  text-align: center;
  padding: 1em;
  background: #333;
  color: white;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin: 0 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* General Button Styling */
button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #0011ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5553ff;
}

button:disabled {
  background-color: #ccc; /* Light gray for disabled state */
  cursor: not-allowed;
}

/* Pagination Container */
#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

/* Previous and Next Buttons */
#pagination button {
  margin: 0 5px;
}

/* Date Links */
.date-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.date-link {
  background-color: #0011ff;
  padding: 12px 5px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.date-link:hover {
  background-color: #3734d3;
}

.date-link.active {
  background-color: #0122b6;
  color: white;
  font-weight: bold;
}

.form-container {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

